.message {
  padding: 1rem;
  margin-bottom: 1rem;
}

.msgMeta {
  font-weight: 600;
  font-size: 90%;
}

.alice {
  text-align: right;
  background-color: aliceblue;
}

.bob {
  background-color: bisque;
}
